@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Main */
    --background: #FCFFF7;
    --foreground: #070707;

    --primary: #070707;
    --primary-foreground: #FCFFF7;

    --secondary: #070707;
    --secondary-foreground: #FCFFF7;

    --muted: #070707;
    --muted-foreground: #FCFFF7;

    --accent: #4A4A4A;
    --accent-foreground: #FCFFF7;

    --destructive: #FB3640;
    --destructive-foreground: #FCFFF7;

    --success: #22AE4C;
    --success-foreground: #FCFFF7;

    --radius: 0.5rem;

    --border: #070707;
    --input: #070707;
    --ring: #070707;

    /* Card */
    --card: #FCFFF7;
    --card-foreground: #070707;

    /* Popup */
    --popover: #FCFFF7;
    --popover-foreground: #070707;

    /* Chart */
    --chart-1: #FB3640;
    --chart-2: #22AE4C;
    --chart-3: #070707;
    --chart-4: #FB3640;
    --chart-5: #22AE4C;
  }

  .dark {
    --background: #070707;
    --foreground: #FCFFF7;
    
    --primary: #FCFFF7;
    --primary-foreground: #070707;
    
    --secondary: #070707;
    --secondary-foreground: #FCFFF7;
    
    --muted: #070707;
    --muted-foreground: #FCFFF7;
    
    --accent: #808080;
    --accent-foreground: #FCFFF7;
    
    --destructive: #FB3640;
    --destructive-foreground: #FCFFF7;
    
    --success: #22AE4C;
    --success-foreground: #FCFFF7;
    
    --radius: 0.5rem;
    
    --border: #070707;
    --input: #070707;
    --ring: #070707;
    
    --chart-1: #FB3640;
    --chart-2: #22AE4C;
    --chart-3: #070707;
    --chart-4: #FB3640;
    --chart-5: #22AE4C;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
